@import "./root.scss";

.contact {
    background-color: #c2c2b0;
    color: $ft-color-grey;
    padding: 100px;

    & > li {
        font-size: 14px;
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        font-family: "SEBANG_Gothic_Regular";

        & > h1 {
            font-size: 20px;
        }

        & > img {
            width: 100%;
            max-width: 170px;
        }
    }
}

@media (max-width: 375px) {
    .contact > li {
        font-size: 12px;
    }
}
