@import "./root.scss";

.contact {
    position: fixed;
    top: 20px;
    left: 10px;

    & > li {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
        padding-right: 20px;
        padding-bottom: 5px;
        color: $ft-color-black;

        .contact-icon {
            margin-right: 4px;
        }
    }

    & > li:hover {
        margin-bottom: 9px;
        border-bottom: 1px solid $ft-color-black;
    }
}
