@import "./root.scss";

header {
    & > h1 {
        font-size: 26px;
        color: $ft-color-black;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 100px;
    }

    & > h2 {
        font-size: 18px;
        color: $ft-color-grey;
        text-align: center;
        margin-bottom: 20px;
    }

    .tool {
        @include tool;
        padding-bottom: 200px;

        & > a {
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.3;
            }
        }
    }
}
