@import "./root.scss";

section {
    width: 100%;

    & > h2 {
        font-family: "SEBANG_Gothic_Regular";
        font-size: 24px;
        color: $ft-color-grey;
        margin-bottom: 20px;
    }

    & > img {
        width: 100%;
        margin-bottom: 20px;
    }

    .tool {
        @include tool;
        margin-bottom: 20px;
    }

    .link {
        @include tool;
        margin-bottom: 100px;

        & > li {
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.3;
            }
        }
    }
}

@media (max-width: 375px) {
    section > h2 {
        font-size: 16px;
    }
}
