@import "./root.scss";

section {
    width: 100%;

    & > h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    & > img {
        width: 100%;
        margin-bottom: 20px;
    }

    .tool {
        @include tool(190px, space-evenly);
        margin-bottom: 20px;
    }

    .link {
        @include tool(110px, space-evenly);
        margin-bottom: 100px;

        & > li {
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.3;
            }
        }
    }
}
